h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #101010;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

.body {
  background-color: #f9f9f9;
  font-family: Gilroy, sans-serif;
  color: #101010;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}

.body.hosting {
  background-color: #f5fafd;
}

.wrapper-text-avatar {
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-avatar {
  position: relative;
  float: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.embed-a-logomark {
  width: 20px;
  height: 23px;
}

.wrapper-nav {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 78px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 15px;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: rgba(212, 217, 229, 0.15);
  -webkit-transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  color: #101010;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.link-nav:hover {
  background-color: rgba(212, 217, 229, 0.25);
  color: #000;
}

.link-nav.isolation {
  background-color: #44db7c;
  color: #fff;
}

.link-nav.isolation:hover {
  background-color: rgba(68, 219, 124, 0.15);
  color: #14ce58;
}

.container {
  position: relative;
  display: block;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 38px;
}

.wrap-nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.wrap-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-field {
  height: 60px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 25px;
  border-style: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.05);
  color: #000;
  font-weight: 700;
}

.text-field::-webkit-input-placeholder {
  color: #000;
  font-weight: 700;
}

.text-field:-ms-input-placeholder {
  color: #000;
  font-weight: 700;
}

.text-field::-ms-input-placeholder {
  color: #000;
  font-weight: 700;
}

.text-field::placeholder {
  color: #000;
  font-weight: 700;
}

.link-footer {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #393e40;
  font-weight: 600;
  text-decoration: none;
}

.link-footer:hover {
  color: #949494;
}

.wrapper-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.wrap-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-footer.align-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-footer.links {
  margin-right: 30px;
}

.icon-footer {
  display: block;
  width: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  clear: left;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-copyright {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.p-selling {
  margin-right: auto;
  margin-left: auto;
  font-size: 27px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.p-selling.align-left {
  max-width: 500px;
  margin-bottom: 0px;
  text-align: center;
}

.tony-white {
  color: #fff;
}

.wrapper-legend-arrow {
  position: absolute;
  left: -139px;
  top: -51px;
  z-index: 99999;
}

.wrapper-checkboxes {
  margin-right: -5px;
  margin-left: -5px;
  padding-top: 20px;
}

.embed-checkbox {
  float: left;
}

.legend-checkboxes {
  margin-top: 40px;
  margin-bottom: 10px;
}

.legend-checkboxes.extra-small-white {
  display: inline-block;
  margin-top: 40px;
  color: #9c9c9c;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}

.wrapper-slider {
  overflow: hidden;
  margin-bottom: 20px;
}

.icon-shield {
  width: 15px;
  margin-right: 5px;
}

.embed-cta-quote-white {
  text-transform: uppercase;
}

.img-avatar {
  border-radius: 50%;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.wrap-avatar-selling {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}

.button-mobile {
  display: none;
}

.img-desktop-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1105px;
}

.text-copyright-infos-mobile {
  display: none;
  color: #6a6969;
  font-size: 12px;
  text-align: center;
}

.embed-a-logomark-mobile {
  display: none;
  width: 40px;
  height: 48px;
}

.keywords {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 6px;
  background-color: #595c5d;
  color: #fff;
  font-size: 15px;
  cursor: default;
}

.success-message {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-width: 2px;
  border-color: #14ce58;
  border-radius: 10px;
  background-color: rgba(20, 206, 88, 0.15);
}

.section-legal {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.subsection-contact {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

.subsection-footer {
  padding-top: 60px;
  padding-bottom: 100px;
}

.div-cv {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}

.container-about-thumb {
  position: relative;
  display: block;
  width: 180px;
  margin-right: auto;
  margin-left: auto;
}

.image-cv {
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  border-radius: 100000px;
}

.heading-cv {
  margin-bottom: 5px;
  font-size: 17px;
  text-align: center;
  text-transform: capitalize;
}

.text-subhead-cv {
  margin-bottom: 26px;
  color: #313847;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.text-subhead-cv.date {
  margin-top: 30px;
  color: #313847;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}

.container-legal {
  margin-top: 80px;
}

.wrapper-send {
  margin-top: 20px;
  clear: both;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.richtext_legal {
  color: #181818;
}

.richtext_legal li {
  margin-bottom: 20px;
}

.error-message-block {
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(255, 7, 66, 0.15);
}

.text-error {
  display: block;
  color: #ff0742;
  text-align: center;
}

.text-success {
  display: block;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  color: #00c347;
  text-align: center;
}

.form-contact-docs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-block-contact-docs {
  margin-top: 50px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper-wrap-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-field {
  width: 49%;
  height: 60px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 25px;
  border-style: none;
  border-width: 2px;
  border-color: #eee;
  border-radius: 10px;
  color: #101010;
}

.input-field::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 400;
}

.input-field:-ms-input-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 400;
}

.input-field::-ms-input-placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 400;
}

.input-field::placeholder {
  color: #bebebe;
  font-size: 18px;
  font-weight: 400;
}

.input-field.email-bold {
  width: 49%;
}

.input-field.email-bold::-webkit-input-placeholder {
  color: #000;
  font-weight: 700;
}

.input-field.email-bold:-ms-input-placeholder {
  color: #000;
  font-weight: 700;
}

.input-field.email-bold::-ms-input-placeholder {
  color: #000;
  font-weight: 700;
}

.input-field.email-bold::placeholder {
  color: #000;
  font-weight: 700;
}

.input-field.text-area {
  width: 100%;
  height: 120px;
  padding-top: 14px;
}

.input-field.text-area::-webkit-input-placeholder {
  font-size: 27px;
  line-height: 36px;
}

.input-field.text-area:-ms-input-placeholder {
  font-size: 27px;
  line-height: 36px;
}

.input-field.text-area::-ms-input-placeholder {
  font-size: 27px;
  line-height: 36px;
}

.input-field.text-area::placeholder {
  font-size: 27px;
  line-height: 36px;
}

.message {
  display: block;
  min-height: 60px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid #403f47;
  border-radius: 5px;
  color: #1774eb;
  font-weight: 700;
}

.message::-webkit-input-placeholder {
  color: #393e40;
  font-weight: 400;
}

.message:-ms-input-placeholder {
  color: #393e40;
  font-weight: 400;
}

.message::-ms-input-placeholder {
  color: #393e40;
  font-weight: 400;
}

.message::placeholder {
  color: #393e40;
  font-weight: 400;
}

.submit-cta-desktop {
  position: relative;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: #14ce58;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.submit-cta-desktop:hover {
  background-color: rgba(68, 219, 124, 0.15);
  color: #14ce58;
}

.submit-cta-desktop:active {
  background-color: #14ce58;
  color: #fff;
}

.legend-checkboxes-docs {
  font-weight: 700;
}

.wrapper-privacy-legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.extra-small-copy {
  margin-left: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 14px;
  line-height: 25px;
}

.link-2 {
  color: #403f47;
  text-decoration: none;
}

.submit-cta-mobile-docs {
  display: none;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: #575df4;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 700;
  text-transform: uppercase;
}

.submit-cta-mobile-docs:hover {
  background-color: #4046d1;
}

.submit-cta-mobile-docs:active {
  background-color: #2328a8;
}

.embed-success-checkmark {
  display: inline-block;
  margin-bottom: 20px;
}

.signature {
  height: 40px;
  margin-top: 20px;
}

.bold-text-2 {
  color: #000;
}

.secrure-green {
  color: #7ff4b7;
}

.h3-plan {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
}

.icon-check-plan {
  display: block;
  width: 15px;
  margin-top: 6px;
  float: left;
}

.icon-delete-plan {
  width: 14px;
  margin-top: 6px;
}

.cta-plan {
  display: block;
  width: 70%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-color: #575df4;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.cta-plan:hover {
  background-color: #4046d1;
}

.cta-plan:active {
  background-color: #2328a8;
}

.wrapper_videos_desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.content.section_colored {
  background-color: #eaebec;
}

.container_videos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper_infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap_info {
  width: 27.334%;
  margin-right: 3%;
  margin-left: 3%;
  text-decoration: none;
}

.wrap_info.cta_mobile {
  display: none;
}

.wrap_info.cta_mobile:focus {
  background-color: transparent;
}

.h3_info {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.h3_info.small_bottom_margin {
  margin-bottom: 0px;
  color: #101010;
}

.p_info {
  display: inline-block;
  color: #101010;
}

.section_hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}

.wrapper-header-infos-copy {
  position: relative;
  z-index: 99;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3%;
  padding-left: 3%;
}

.wrap-avatar-hire {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.wrapper-hamburger {
  display: none;
}

.cta-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-color: #000;
  border-radius: 5px;
  background-color: #101010;
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #403f47;
  color: #fff;
}

.cta_text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.wrapper_hidden {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.wrap_hidden_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.wrap_hidden_right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.section_navigation {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 78px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading {
  position: fixed;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
}

.wrap_video {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: 3%;
  margin-left: 3%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.placeholder {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  overflow: hidden;
  width: 423px;
  max-height: 860px;
  border-radius: 30px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0;
}

.embed-cloudinary {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  padding-top: 14%;
  padding-right: 4%;
  padding-left: 4%;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.wrap_info_process {
  max-width: 400px;
  margin-bottom: 30px;
}

.item {
  position: relative;
  width: 33.333333333333336%;
  padding: 10px;
  float: left;
  color: #393e40;
  text-decoration: none;
}

.grid {
  display: block;
  width: 96%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image {
  width: 100%;
}

.img {
  width: 100%;
}

.img.ui_mobile {
  display: none;
}

.grid_container {
  display: block;
  width: 96%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div---project-info {
  margin-top: 60px;
  margin-bottom: 100px;
}

.heading-3 {
  width: 65%;
  margin-bottom: 40px;
  float: right;
}

.paragraph---project-info {
  width: 65%;
  margin-bottom: 40px;
  float: right;
  clear: right;
  line-height: 25px;
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.project-legend {
  width: 65%;
  float: right;
  clear: right;
  color: #313847;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
}

.wrap_info_thumb {
  margin-top: 20px;
}

.wrap_process_mobile {
  display: none;
  width: 42%;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.link_website {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 15px;
  border-style: none;
  border-width: 2px;
  border-color: #dfdfdf;
  border-radius: 5px;
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
  color: #393e40;
  font-weight: 600;
  text-decoration: none;
}

.link_website:hover {
  background-color: #ececec;
  color: #393e40;
}

.link_website:active {
  background-color: #dad7d7;
}

.wrapper_menu_mobile {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-110%, 0px);
  -ms-transform: translate(-110%, 0px);
  transform: translate(-110%, 0px);
}

.link-nav-mobile {
  padding-bottom: 10px;
  color: #101010;
  text-decoration: none;
}

.about-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0px;
  column-gap: 0px;
  -webkit-column-rule-style: none;
  column-rule-style: none;
  -webkit-column-rule-width: 0px;
  column-rule-width: 0px;
}

.embed_vimeo_secret {
  z-index: 999;
  width: 100%;
  margin-bottom: -8px;
}

.wrap_video_secret {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.link_secret {
  color: #0176ff;
  text-decoration: none;
}

.grid_container-copy {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.frame {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  width: 100%;
  max-height: 812px;
  max-width: 375px;
}

.embed-stripe {
  display: inline-block;
}

.section-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-coffee {
  width: 24px;
}

.usebasin-bot {
  display: none;
}

.embed-spam {
  position: relative;
  display: block;
}

.icon-success {
  width: 40px;
  height: 40px;
}

.paragraph {
  max-width: 400px;
  color: #9b9b9b;
  text-align: center;
}

.wrap-plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 55px 40px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 10px;
  border-color: #f7f7f7;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 20px 12px rgba(0, 0, 0, 0.1);
}

.wrap-plan.highlight {
  position: relative;
  border-width: 6px;
  border-color: #38d18e;
}

.section-hosting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5fafd;
}

.stripe-checkout-btn {
  width: 250px;
  margin-top: 40px;
  margin-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: #ffb34c;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.stripe-checkout-btn:hover {
  background-color: #da983f;
}

.stripe-checkout-btn.highlight {
  background-color: #38d18e;
  color: #fff;
}

.stripe-checkout-btn.highlight:hover {
  background-color: #2fbb7e;
}

.heading-hosting {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.text {
  color: #acacac;
  line-height: 20px;
}

.text.strike {
  color: #d8d8d8;
  text-decoration: line-through;
}

.text.info {
  margin-top: -3px;
  font-size: 16px;
  text-transform: none;
}

.text.info.question {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.wrap-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.text-block-2 {
  padding-right: 5px;
  padding-left: 8px;
  font-size: 40px;
  font-weight: 800;
}

.price-info {
  color: #acacac;
  font-size: 25px;
  line-height: 17px;
}

.price-info.black {
  color: #101010;
}

.wrap-point {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.icon {
  margin-right: 9px;
}

.wrap-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-plan {
  width: 400px;
  margin: 20px;
}

.wrap-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-plans {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap-footer-hosting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stripe {
  height: 18px;
  margin-right: 7px;
  margin-bottom: -1px;
  margin-left: 6px;
}

.stripe.lock {
  height: 15px;
  margin-bottom: 2px;
}

.text-block-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: 600;
}

.wrap-secure-checkout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.here-for-you {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #6772e5;
  font-weight: 600;
  text-decoration: none;
}

.here-for-you:hover {
  color: #2328a8;
}

.wventures-logomark {
  width: 40px;
  margin-bottom: 10px;
}

.wrap-plan-name {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-right-radius: 10px;
  background-color: #38d18e;
  color: #fff;
}

.text-block-4 {
  padding-right: 20px;
  padding-left: 15px;
}

.embed-method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-methods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 650px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f9f9;
}

.wrap-logomark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
}

.container-nav-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.subline {
  max-width: 500px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  color: #393e40;
  font-size: 27px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.container-wrap-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-outro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.auratorio-logotype {
  height: 20px;
  margin-bottom: 10px;
}

.comingsoon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c6e0ff;
}

.text-block-5 {
  color: #0067e0;
  font-weight: 400;
}

html.w-mod-js *[data-ix="thumbnails-fade-into-view"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="reveal-left"] {
  opacity: 0;
  -webkit-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate(-25px, 0px);
}

html.w-mod-js *[data-ix="reveal-left-delayd"] {
  opacity: 0;
  -webkit-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate(-25px, 0px);
}

@media screen and (max-width: 991px) {
  .link-nav {
    display: none;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .link-footer {
    font-size: 14px;
  }

  .wrapper-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-copyright {
    margin-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .p-selling {
    font-size: 21px;
    line-height: 33px;
  }

  .container_videos {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .wrapper_infos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .wrap_info.half {
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .wrapper-hamburger {
    display: block;
  }

  .wrapper_hidden {
    padding-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .wrap_hidden_left {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 100px;
    margin-left: 0%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .wrap_hidden_right {
    width: 85%;
  }

  .grid_container {
    width: 100%;
  }

  .div---project-info {
    padding-right: 30px;
    padding-left: 30px;
  }

  .wrap_process_mobile {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 100px;
    margin-left: 0%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .wrapper_menu_mobile {
    width: 70%;
  }

  .about-wrapper {
    -webkit-column-count: 2;
    column-count: 2;
  }

  .grid_container-copy {
    width: 100%;
  }

  .section-hosting {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .container-plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
    line-height: 20px;
  }

  .embed-a-logomark {
    display: none;
    width: 25px;
    height: 30px;
  }

  .embed-a-logomark.white-logomark {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .wrapper-nav {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link-nav {
    display: none;
  }

  .h2 {
    font-size: 16px;
    line-height: 26px;
  }

  .map {
    height: 60vh;
  }

  .wrap-form {
    width: 100%;
    clear: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .link-footer {
    text-align: center;
  }

  .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .p-selling {
    font-size: 16px;
    line-height: 27px;
  }

  .wrapper-legend-arrow {
    display: none;
  }

  .wrap-avatar-selling {
    width: 80px;
    height: 80px;
  }

  .text-copyright-infos-mobile {
    display: block;
    color: #9c9c9c;
    line-height: 21px;
  }

  .embed-a-logomark-mobile {
    display: block;
    width: 20px;
    height: 23px;
  }

  .keywords {
    font-size: 14px;
  }

  .subsection-contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .subsection-footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .div-cv {
    margin-bottom: 58px;
  }

  .container-legal {
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrapper-send {
    margin-top: 10px;
  }

  .form-contact-docs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .input-field {
    font-size: 16px;
  }

  .input-field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .input-field:-ms-input-placeholder {
    font-size: 16px;
  }

  .input-field::-ms-input-placeholder {
    font-size: 16px;
  }

  .input-field::placeholder {
    font-size: 16px;
  }

  .input-field.text-area {
    height: 100px;
  }

  .submit-cta-desktop {
    margin-top: 20px;
  }

  .icon-check-plan {
    width: 15px;
    margin-top: 2px;
  }

  .wrapper_videos_desktop {
    display: none;
  }

  .content {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .wrapper_infos {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrap_info {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .wrap_info.half {
    width: 100%;
    max-width: 400px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrap_info.cta_mobile {
    display: block;
  }

  .wrap_info.cta_desktop {
    display: none;
  }

  .section_hero {
    padding-top: 30px;
  }

  .h1 {
    font-size: 26px;
    line-height: 34px;
  }

  .cta-button {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .cta_text {
    font-weight: 300;
  }

  .wrapper_hidden {
    display: none;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .wrap_hidden_left {
    margin-bottom: 50px;
  }

  .wrap_hidden_right {
    display: none;
    width: 80%;
  }

  .wrap_info_process {
    width: 100%;
    margin-right: 0px;
    margin-left: 0%;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .item {
    width: 50%;
  }

  .img.ui_mobile {
    display: block;
  }

  .div---project-info {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-3 {
    width: 100%;
  }

  .paragraph---project-info {
    width: 100%;
    margin-bottom: 20px;
  }

  .wrap_process_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: auto;
    margin-bottom: 0px;
    padding-top: 50px;
    color: #000;
  }

  .link_website {
    width: 100%;
    text-align: center;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .subline {
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper-text-avatar {
    margin-left: 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .embed-a-logomark {
    float: none;
  }

  .link-footer {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .wrap-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrap-footer.align-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .wrap-footer.links {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .text-copyright {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 18px;
  }

  .p-selling {
    max-width: 100%;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 25px;
  }

  .wrapper-legend-arrow {
    left: -93px;
    top: -50px;
  }

  .legend-checkboxes {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 22px;
  }

  .legend-checkboxes.extra-small-white {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 10px;
    line-height: 18px;
  }

  .embed-cta-quote-white {
    display: none;
  }

  .wrap-avatar-selling {
    margin-bottom: -30px;
  }

  .button-mobile {
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px;
    border-radius: 5px;
    background-color: #1774eb;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
  }

  .button-mobile:hover {
    background-color: #4046d1;
  }

  .button-mobile:active {
    background-color: #2328a8;
  }

  .text-copyright-infos-mobile {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 10px;
    line-height: 18px;
  }

  .embed-a-logomark-mobile {
    float: none;
  }

  .subsection-footer {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .div-cv {
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-cv {
    width: 180px;
  }

  .heading-cv {
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: 700;
  }

  .text-subhead-cv {
    line-height: 24px;
  }

  .text-subhead-cv.date {
    margin-top: 20px;
  }

  .form-block-contact-docs {
    margin-bottom: 0px;
  }

  .wrapper-wrap-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .input-field {
    width: 100%;
  }

  .input-field.email-bold {
    width: 100%;
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.05);
  }

  .message {
    min-height: 100px;
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.05);
  }

  .submit-cta-desktop {
    width: 100%;
  }

  .legend-checkboxes-docs {
    font-size: 14px;
    line-height: 22px;
  }

  .extra-small-copy {
    font-size: 12px;
    line-height: 18px;
  }

  .submit-cta-mobile-docs {
    display: block;
    background-color: #575df4;
  }

  .submit-cta-mobile-docs:hover {
    background-color: #4046d1;
  }

  .icon-check-plan {
    width: 15px;
    margin-top: 0px;
  }

  .cta-plan {
    display: block;
    background-color: #575df4;
  }

  .cta-plan:hover {
    background-color: #4046d1;
  }

  .content {
    padding-bottom: 0px;
  }

  .container_videos {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .wrapper_infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrap_info {
    margin-bottom: 30px;
  }

  .wrap_info.half {
    width: 100%;
    max-width: none;
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrap_info.cta_mobile {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .h3_info {
    font-size: 16px;
  }

  .p_info {
    font-size: 16px;
    line-height: 25px;
  }

  .h1 {
    font-size: 24px;
  }

  .wrapper-header-infos-copy {
    width: auto;
  }

  .wrapper_hidden {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .wrap_hidden_left {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }

  .wrap_hidden_right {
    width: 85%;
  }

  .wrap_info_process {
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }

  .item {
    width: 100%;
  }

  .heading-3 {
    margin-top: 0px;
    margin-bottom: 20px;
    float: left;
  }

  .paragraph---project-info {
    margin-bottom: 30px;
    float: left;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .project-legend {
    width: 100%;
    margin-bottom: 0px;
    float: left;
    font-size: 14px;
    line-height: 15px;
  }

  .wrap_process_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0px;
  }

  .about-wrapper {
    -webkit-column-count: 1;
    column-count: 1;
  }

  .container-plan {
    width: 100%;
  }

  .container-plans {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .stripe.lock {
    display: none;
  }

  .subline {
    max-width: 100%;
  }

  .container-wrap-footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/3A1D61_1_0.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/3A1D61_0_0.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}